.create-room {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .create-room h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #007BFF;
  }
  
  .create-room form {
    display: flex;
    flex-direction: column;
  }
  
  .create-room label {
    margin-bottom: 10px;
    font-size: 18px;
    color: #333;
  }
  
  .create-room input,
  .create-room select {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .create-room button {
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .create-room button:hover {
    background-color: #0056b3;
  }
  